# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
.next/
out/

# env
.env
.env.local
.env.*.local
.env.pilot
!.env.example
!.env.pilot.example

# prisma
**/migrations/dev.db*

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
coverage/

# ts build info
*.tsbuildinfo
